<h1>Book Library</h1>

<% @books.each do |book| %>
<div>
    <h3><%= book.title %></h3>
    <p>Author: <%= book.author %></p>
    <p>ISBN: <%= book.isbn %></p>
    <% if book.available? %>
    <%= button_to 'Borrow', borrow_book_path(book), method: :post %>
    <% else %>
    <p>This book is currently borrowed.</p>
    <% end %>
</div>
<% end %>